html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    padding: 5px;
}

thead tr {
    background-color: #ccc;
}

tbody tr:nth-child(odd) {
    background-color: #eef;
}

th,
td {
    padding: 10px;
}

td.books-count span {
    cursor: pointer;
}

input {
    padding: 2px 10px;
    font-size: 20px;
    margin: 20px 0;
}

.authors-table {
    padding: 30px 0;
}