<div ng-controller="AuthorsBooksCtrl as ctrl">

    <div class="nationality-filter">
        <label>Select author's nationality</label>
        <select ng-model="ctrl.selectedNationality">
            <option value='all'>ALL</option>
            <option ng-repeat="nationality in ctrl.nationalities" value="{{nationality}}">{{ nationality |
                uppercase }}</option>
        </select>
    </div>


    <div class="authors-table">
        <input type="text" ng-model="ctrl.authorsQuery" autocomplete="off" placeholder="Name or nationality..." />
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Nationality</th>
                    <th>Books count</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="author in ctrl.getFilteredAuthors()">
                    <td>{{ author.id }}</td>
                    <td>{{ author.name }}</td>
                    <td>{{ author.nationality }}</td>
                    <td class="books-count"><span ng-click="ctrl.selectedAuthor = author">{{ author.booksCount }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="books-table">
        <input type="text" ng-model="ctrl.booksQuery" autocomplete="off" placeholder="Title or year..." />
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in ctrl.getFilteredBooks()">
                    <td>{{ book.id }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.authorName }}</td>
                    <td>{{ book.year }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>